<app-header titulo="Registro De Pulsaciones"></app-header>

<ion-content>

    <form #formulario="ngForm" (ngSubmit)="addPersonas()">

        <ion-item>
            <ion-label position="floating">Cedula: </ion-label>
            <ion-input type="number" placeholder="1192729904" [(ngModel)]="persona.cedula" name="cedula" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Nombre: </ion-label>
            <ion-input type="text" placeholder="Sebastian" [(ngModel)]="persona.nombre" name="nombre" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Apellido: </ion-label>
            <ion-input type="text" placeholder="Ochoa" [(ngModel)]="persona.apellido" name="apellido" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Edad: </ion-label>
            <ion-input type="number" placeholder="18" [(ngModel)]="persona.edad" name="edad" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Genero: </ion-label>
            <ion-select [(ngModel)]="persona.genero" name="genero" required>
                <ion-select-option>Femenino</ion-select-option>
                <ion-select-option>Masculino</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Pulso: {{persona.pulsacion}}</ion-label>
        </ion-item>

        <ion-button color="success" type="submit" [disabled]="formulario.invalid" expand="full">
            Registrar
        </ion-button>


    </form>



    <ion-list #lista>

        <ion-item-sliding *ngFor="let a of personas">

            <ion-item>
                <ion-label>
                    <h3>Cedula: {{a.cedula}}</h3>
                    <p>Nombre: {{a.nombre}} {{a.apellido}} </p>
                    <p>Edad: {{a.edad}} Genero {{a.genero}} </p>
                </ion-label>
                <ion-label slot="end" text-right>
                    Pulso: {{a.pulsacion}}
                </ion-label>
            </ion-item>

            <ion-item-options side="start">
                <ion-item-option color="secondary" (click)="editPersona(a)">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deletePersona(a.cedula)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>


</ion-content>

<ion-footer>
    <ion-toolbar color="danger">
    </ion-toolbar>
</ion-footer>